# Environment
.env
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Uploaded resumes
uploads/

# VS Code
.vscode/

# Frontend
ai-recruitment-frontend/node_modules/
ai-recruitment-frontend/dist/

# OS files
.DS_Store
Thumbs.db